<!DOCTYPE html>
<html>
<head>
  <title><%= resume.name %> - Resume</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="template template5">
  <div class="resume-classic main-resume-container">
    <header class="header-classic">
      <h1><%= resume.name %></h1>
      <p class="role-title"><%= resume.role %></p>
      <div class="contact-info">
        <p><%= resume.email %></p>
        <p><%= resume.phone %></p>
        <p><%= resume.address %></p>
        <p><%= resume.linkedin %></p>
      </div>
    </header>

    <div class="line-divider"></div>

    <section>
      <h3>Education</h3>
      <p><%= resume.education %></p>
    </section>

    <section>
      <h3>Work Experience</h3>
      <% if (resume.experience1) { %>
        <p><%= resume.experience1 %></p>
      <% } %>
      <% if (resume.experience2) { %>
        <p><%= resume.experience2 %></p>
      <% } %>
      <% if (resume.experience3) { %>
        <p><%= resume.experience3 %></p>
      <% } %>
    </section>

    <section>
      <h3>Skills</h3>
      <p><%= resume.skills %></p>
    </section>
  </div>
  <a href="/api/resume/download/<%= id %>" class="download-button">Download as PDF</a>
</body>
</html>